<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/kakuzu"
        android:label="Central de Contas"
        android:roundIcon="@mipmap/kakuzu"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControleContas">
        <activity
            android:name=".activity.devedores.DetalhesDevedoresActivity"
            android:exported="false" />
        <activity
            android:name=".activity.devedores.DevedorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pendents.PendentesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cartao.DetalhesCartaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cartao.ResumoCartaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.categoria.ResumoActivity" />
        <activity android:name=".activity.categoria.DetalhesCategoriaActivity" />
    </application>

</manifest>